<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :context_id %>

  <div class="field" data-role="fieldcontain">
    <%= f.label :complete, "Erledigt" %><br />
    <select name="task[complete]" id="task_complete" data-role="slider">
      <% if @task.complete %>
        <%= options_for_select([["Ja", true], ["Nein", false]]) %>
      <% else %>
        <%= options_for_select([["Nein", false], ["Ja", true]]) %>
      <% end %>
    </select>
  </div>

  <%= render :partial => 'form', :locals => { :f => f } %>

<% end %>
