<%= form_for [@context,@task] do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :context_id, :value => params[:context_id] %>
  <%= f.check_box :complete, :style => "visibility:hidden" %>

  <%= render :partial => 'form', :locals => { :f => f } %>

<% end %>
