<div data-role="header" data-theme="b">
  <%= link_to 'Back', @context, "data-ajax" => "false", "data-icon" => "arrow-l" %>
  <h1><%= @task.name %></h1>
</div>

<div data-role="content">
  <% if !notice.nil? %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <div data-role="collapsible-set" data-theme="b">
    <div data-role="collapsible">
      <h3>Fällig</h3>
      <%= @task.expiration %>
    </div>
    <div data-role="collapsible">
      <h3>Note:</h3>
      <%= @task.note %>
    </div>
  </div>
</div>
