<div data-role="header" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Listen', root_path, "data-icon" => "grid" %></li>
      <li><%= link_to 'Heute', tasks_today_path, "data-icon" => "alert", :class => "ui-btn-active ui-state-persist" %></li>
      <li><%= link_to 'Hier', tasks_today_path, "data-icon" => "search" %></li>
      <li><%= link_to 'Wichtig', tasks_today_path, "data-icon" => "star" %></li>
    </ul>
  </div>
</div>

<div data-role="content">
    <ul data-role="listview" data-theme="c">     
      <% @today.each do |task| %>
        <li>
          <%= link_to task.name, task %>
          <%= link_to 'Task bearbeiten', edit_task_path(task), "data-icon" => "gear" %>
        </li>
      <% end %>
    </ul>
</div>