<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" data-role="fieldcontain">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field" data-role="fieldcontain">
    <%= f.label :interval do %>Erinnerungsintervall<% end %><br />
    <%= f.number_field :interval, :value => 15 %>
  </div>

  <div class="field" data-role="fieldcontain">
    <%= f.label :layout %><br />
    <%= f.select :layout, {"DarthMaul" => "a", "BlueLine" => "b", "Cupertino" => "c", "Delighted" => "d", "GoldenSun" => "e", "BloodyMary" => "f", "LillyFairy" => "g", "HotChocolate" => "h", "LemonGrass" => "i"} %>
  </div>

  <div class="actions">
    <%= f.submit @action %>
  </div>
<% end %>
