<div data-role="content">
  <%= image_tag "logo.png", :id => "logo" %>
  <%= form_tag load_users_path, "data-ajax" => false do %>
    <%= text_field_tag :name %>
    <%= submit_tag 'Laden', 'data-icon' => 'search' %>
  <% end %>
</div>

<div data-role="footer" data-position="fixed">		
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Registrieren', new_user_path, "data-icon" => "plus", "data-prefetch" => true %></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->