<div data-role="header">
  <%= link_to 'Zurück', root_path, "data-icon" => "arrow-l", "data-ajax" => false %>
  <h1><%= @context.name %></h1>
  <input type="hidden" id="latitude" value="<%= @context.latitude %>"/>
  <input type="hidden" id="longitude" value="<%= @context.longitude %>"/>
  
</div>

<div data-role="content">
  <%= render :partial => 'shared/tasklist' %>
</div>

<div data-role="footer" data-position="fixed">		
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Task hinzufügen', new_context_task_path(@context), "data-icon" => "plus", "data-prefetch" => true %></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->