<%= render :partial => 'shared/navigation' %>

<div data-role="content">
  <ul data-role="listview" data-counttheme="e">
    <li>
      <%= form_tag here_user_contexts_path, "data-ajax" => false do %>
        <%= hidden_field_tag :latitude %>
        <%= hidden_field_tag :longitude %>
        <%= submit_tag 'Such mich!', "data-theme" => "a", "data-icon" => "search", "data-iconpos" => "left" %>
      <% end %>
    </li>
    <% @contexts.each do |context| %>
      <li>
        <%= link_to context.name, user_context_path(@user,context), "data-prefetch" => true %>
        <span class="ui-li-count"><%= Task.find_all_by_context_id(context.id).count %></span>
        <%= link_to 'Kontext bearbeiten', edit_user_context_path(@user,context), "data-icon" => "gear", "data-ajax" => false, "data-prefetch" => true %>
      </li>
    <% end %>
  </ul>
</div>

<div data-role="footer" data-position="fixed">		
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Kontext hinzufügen', new_user_context_path(@user), "data-icon" => "plus", "data-ajax" => false, "data-prefetch" => true %></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

<%= javascript_tag "getPos()" %>